hw1.pdf
hw1-tests/t1.in
hw1-tests/t1.out
hw1-tests/t2.in
hw1-tests/t2.out
hw1-tests/t3.in
hw1-tests/t3.out
hw1-tests/t4.in
hw1-tests/t4.out
hw1-tests/t5.in
hw1-tests/t5.out
hw1-tests/t6.in
hw1-tests/t6.out
hw1-tests/t7.in
hw1-tests/t7.out
hw1-tests/t8.in
hw1-tests/t8.out
hw1-tests/t9.in
hw1-tests/t9.out
hw1-tests/t10.in
hw1-tests/t10.out
hw1-tests/t11.in
hw1-tests/t11.out
